@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
@*Esta es la pagina donde ira el diseño de la pagina de presupuesto de domicilio(que seria la del empleado)*@

<h2>Index</h2>

