@{
    ViewBag.MSG = "Revisión de cálculos";
}
<h3>@ViewBag.MSG</h3>

<div class="container">
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    Calculo del Asesor de Ventas-Cajero-Agente
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    Calculo del Jefe de Farmacia-turno-Coordinador 1 y 2
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    Calculo del Supervisor de Farmacia
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    Calculo del operador de call center
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    Calculo del Supervisor de call center
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    Calculo de faltantes de inventario
                </div>
            </div>
        </div>
    </div>
</div>